.js [data-anime="accordion"] dd {
  display: none;
}

.js [data-anime="accordion"] dd.active {
  display: block;
}

[data-anime="accordion"] dt::after {
  content: "";
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-left: 10px;
  background: url("../img/arrow-red.svg") no-repeat center center;
  transform: rotate(90deg);
  transition: transform 0.3s;
}

[data-anime="accordion"] dt.active::after {
  content: "";
  transform: rotate(-90deg);
  animation: sliderDown 0.5s forwards;
}

@keyframes sliderDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 200px;
  }
}
