.modal-container {
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.ativo {
  display: flex;
}

@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ativo .modal {
  animation: modal 0.3s forwards;
}

.modal {
  background: white;
  width: 80vw;
  max-width: 600px;
  box-sizing: border-box;
  padding: 40px;
  border: 10px solid #fb5;
  box-shadow: 0 0 010px white;
  position: relative;
}

.fechar {
  width: 50px;
  height: 50px;
  top: -30px;
  right: -30px;
  position: absolute;
  border: 4px solid white;
  border-radius: 50%;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
  background: #e54 url("../img/fechar.svg") no-repeat center center;
  cursor: pointer;
  color: transparent;
}

.modal label {
  font-family: "IBM Plex Mono", monospace;
  display: block;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

.modal input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  box-sizing: border-box;
}

.modal button[type="submit"] {
  display: block;
  background: #e54;
  border: none;
  border-radius: 4px;
  padding: 0.7rem 0.2rem;
  font-size: 1rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  margin-top: 1rem;
  font-weight: bold;
}
