.tooltip {
  position: absolute;
  z-index: 500;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, 0.6);
  padding: 0.5rem;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 0.875rem;
  border-radius: 150px;
  max-width: 150px;
  top: 0px;
  left: 0px;
}
